<a href="https://colab.research.google.com/github/AfifNurraihan/Data-Analyst/blob/main/Exploratory_Data_Analysis_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import library
import pandas as pd

In [2]:
# membaca dataset
df = pd.read_csv('imdb_indonesian_movies.csv')
df

,judul_film,ringkasan_sinopsis,genre
0,Sunan Kalijaga,Raden Mas Said putra sulung Tumenggung Wilarik...,Drama
1,Gie,Soe Hok Gie adalah seorang aktivis yang hidup ...,Drama
2,Guru Bangsa Tjokroaminoto,Guru Bangsa Tjokroaminoto menceritakan tentang...,Drama
3,POL Movie,POL menceritakan kisah hidup yang luar biasa d...,Drama
4,Sang pencerah,Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...,Drama
...,...,...,...
1000,Winter in Tokyo,Winter in Tokyo berpusat pada kehidupan Ishida...,Romantis
1001,Petualang Cinta,Markonah melarikan diri ke Jakarta karena akan...,Romantis
1002,Last Night (III),"Tempat aking lebih dari 36 jam, Last Night ada...",Romantis
1003,Path of Light,Proyek baru ini adalah tentang seorang lelaki ...,Romantis
1004,Kulihat cinta di matanya,"Atika (Meriam Bellina) mantan penyanyi tenar, ...",Romantis

In [3]:
# menampilkan 5 data pertama
df.head()

,judul_film,ringkasan_sinopsis,genre
0,Sunan Kalijaga,Raden Mas Said putra sulung Tumenggung Wilarik...,Drama
1,Gie,Soe Hok Gie adalah seorang aktivis yang hidup ...,Drama
2,Guru Bangsa Tjokroaminoto,Guru Bangsa Tjokroaminoto menceritakan tentang...,Drama
3,POL Movie,POL menceritakan kisah hidup yang luar biasa d...,Drama
4,Sang pencerah,Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...,Drama

In [4]:
# menampilkan 5 data terakhir
df.tail()

,judul_film,ringkasan_sinopsis,genre
1000,Winter in Tokyo,Winter in Tokyo berpusat pada kehidupan Ishida...,Romantis
1001,Petualang Cinta,Markonah melarikan diri ke Jakarta karena akan...,Romantis
1002,Last Night (III),"Tempat aking lebih dari 36 jam, Last Night ada...",Romantis
1003,Path of Light,Proyek baru ini adalah tentang seorang lelaki ...,Romantis
1004,Kulihat cinta di matanya,"Atika (Meriam Bellina) mantan penyanyi tenar, ...",Romantis

In [5]:
# menampilkan deskripsi data 
df.describe

<bound method NDFrame.describe of                      judul_film  \
0                Sunan Kalijaga
1                           Gie
2     Guru Bangsa Tjokroaminoto
3                     POL Movie
4                 Sang pencerah
...                         ...
1000            Winter in Tokyo
1001            Petualang Cinta
1002           Last Night (III)
1003              Path of Light
1004   Kulihat cinta di matanya

                                     ringkasan_sinopsis     genre
0     Raden Mas Said putra sulung Tumenggung Wilarik...     Drama
1     Soe Hok Gie adalah seorang aktivis yang hidup ...     Drama
2     Guru Bangsa Tjokroaminoto menceritakan tentang...     Drama
3     POL menceritakan kisah hidup yang luar biasa d...     Drama
4     Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...     Drama
...                                                 ...       ...
1000  Winter in Tokyo berpusat pada kehidupan Ishida...  Romantis
1001  Markonah melarikan diri ke Jakarta karena akan...  Romantis
1002  Tempat aking lebih dari 36 jam, Last Night ada...  Romantis
1003  Proyek baru ini adalah tentang seorang lelaki ...  Romantis
1004  Atika (Meriam Bellina) mantan penyanyi tenar, ...  Romantis

[1005 rows x 3 columns]>

In [6]:
# menampilkan informasi data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   judul_film          1005 non-null   object
 1   ringkasan_sinopsis  1005 non-null   object
 2   genre               1005 non-null   object
dtypes: object(3)
memory usage: 23.7+ KB

In [7]:
# menampilkan kolom data
df.columns

Index(['judul_film', 'ringkasan_sinopsis', 'genre'], dtype='object')

In [8]:
# menampilkan dimensi data
df.shape

(1005, 3)

In [9]:
# mendeteksi apakah ada missing value pada data
df.isnull().sum()

judul_film            0
ringkasan_sinopsis    0
genre                 0
dtype: int64

In [10]:
# menghapus beberapa kolom pada data
df = df.drop(columns=['judul_film','genre'])
df

                                     ringkasan_sinopsis
0     Raden Mas Said putra sulung Tumenggung Wilarik...
1     Soe Hok Gie adalah seorang aktivis yang hidup ...
2     Guru Bangsa Tjokroaminoto menceritakan tentang...
3     POL menceritakan kisah hidup yang luar biasa d...
4     Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...
...                                                 ...
1000  Winter in Tokyo berpusat pada kehidupan Ishida...
1001  Markonah melarikan diri ke Jakarta karena akan...
1002  Tempat aking lebih dari 36 jam, Last Night ada...
1003  Proyek baru ini adalah tentang seorang lelaki ...
1004  Atika (Meriam Bellina) mantan penyanyi tenar, ...

[1005 rows x 1 columns]

In [11]:
# mengganti nama kolom
df = df.rename(columns={'ringkasan_sinopsis':'sinopsis'})
df

                                               sinopsis
0     Raden Mas Said putra sulung Tumenggung Wilarik...
1     Soe Hok Gie adalah seorang aktivis yang hidup ...
2     Guru Bangsa Tjokroaminoto menceritakan tentang...
3     POL menceritakan kisah hidup yang luar biasa d...
4     Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...
...                                                 ...
1000  Winter in Tokyo berpusat pada kehidupan Ishida...
1001  Markonah melarikan diri ke Jakarta karena akan...
1002  Tempat aking lebih dari 36 jam, Last Night ada...
1003  Proyek baru ini adalah tentang seorang lelaki ...
1004  Atika (Meriam Bellina) mantan penyanyi tenar, ...

[1005 rows x 1 columns]

In [12]:
# meng-copy data kedalam variabel lain
df1 = df.copy()
df1

                                               sinopsis
0     Raden Mas Said putra sulung Tumenggung Wilarik...
1     Soe Hok Gie adalah seorang aktivis yang hidup ...
2     Guru Bangsa Tjokroaminoto menceritakan tentang...
3     POL menceritakan kisah hidup yang luar biasa d...
4     Perjalanan pahlawan Indonesia KH Ahmad Dahlan ...
...                                                 ...
1000  Winter in Tokyo berpusat pada kehidupan Ishida...
1001  Markonah melarikan diri ke Jakarta karena akan...
1002  Tempat aking lebih dari 36 jam, Last Night ada...
1003  Proyek baru ini adalah tentang seorang lelaki ...
1004  Atika (Meriam Bellina) mantan penyanyi tenar, ...

[1005 rows x 1 columns]